<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
     <add name="BoutiqueConnection" connectionString="Data Source=WIN-ISPHTIHPJFI;Initial Catalog=BoutiqueApp;User ID=sa;Password=sa@2016" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
   
    
   

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
      
    </webServices>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="8192" enable="true" useFullyQualifiedRedirectUrl="false" executionTimeout="90" targetFramework="4.5" />
    <!--(8192 for 8 Mb, 16384 for 16 Mb, 65536 for 64 Mb, and so on...).-->
  </system.web>
  <appSettings>
    <!--Written by Gibin -->
    <add key="DisableMenu" value="Products Review,Notifications,NewsLetter,Loyalty,Loyalty Setting,Manage Orders" />
    <add key="cryptography" value="thrithvam2016"/>
    <add key="server" value="tiquesinn.com"/>
    <add key="EmailFromAddress" value="info@tiquesinn.com"/>
    <add key ="SMTP-host" value="smtp.gmail.com"/>
    <add key ="SMTP-UserName" value="tiquesinn"/>
    <add key="SMTP-Password" value="passwordagain1"/>
    <add key="VerificationCode" value="Verification Code"/>
    <add key="Port" value="587"/>
    <add key="2factorOTP" value="xoxo" />
  </appSettings>
 
</configuration>