.control-label
{
  color:black;
}
.box
{
      /* shadow effect material design*/
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
     /* shadow effect material design*/
}
.InnerFooter
{
    background-color:#B8D0E8;
    
}
.headerStyle
{
    font-size:30px;
    
}

.TableLayout{
    min-height:50px;
    max-height:350px;
    overflow-y:scroll;
    margin-bottom: 20px;
}
label.control-label {
    cursor: default!important;

}
.templatePreviewholder{
    width:300px;
    height:250px;
}



/*tempore*/
.masonry-thumb
{
     border:2px solid pink;
     height: 200px;
     width:175px;
     padding: 5px 5px 5px 5px;
     position:relative;
     margin:10px 0px 1px 8px;/*top,right,bottom,left*/
     cursor:pointer;
     overflow: hidden;

}

img {
    height: 195px;
    width: auto;
}
/*tempore*/

.checkDes
{
   vertical-align: middle!important;
    display: inline-block!important;
    margin-bottom: 0!important;
    min-height: 20px!important;
    cursor:pointer!important;
    line-height: normal!important;
    position:relative;
    bottom:202px;
    left:0;
    right:0;

}
input[type="checkbox"] {
    vertical-align: middle!important;
    display: inline-block!important;
    margin-bottom: 0!important;
    min-height: 10px!important;
    cursor: pointer!important;
    line-height: normal!important;
    position: absolute;
    bottom: 195px;
    left: 0;
    right: 0;
    margin: 4px 5px 4px 4px;
    margin-top: 22px;
    /* line-height: normal; */
}
.PreviewTemplate
{
    width:100%;
    /*height:100%;*/
}
.PreviewTemplate
{
    height:100%;
}
.templatePreviewholder
{
   height:600px;
}
.modal{
    height:600px;
     width:700px;
    margin-left:-329px;
}
