
/*Make search and sort of gridview same line*/
 .dataTables_wrapper .dataTables_length {
            float: right;
            text-align: right;
        }

        .dataTables_wrapper .dataTables_filter {
            float: left;
        }




        #ddlGridStatus {
            font-size: 16px !important;
        }



.control-label
{
  color:black;
}
.box
{
      /* shadow effect material design*/
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
     /* shadow effect material design*/
}


.InnerFooter
{
    background-color:#B8D0E8;
    
}


.headerStyle
{
    font-size:30px;
    
}


.LoyaltyPoints{
    color:purple;
    font-size:large;
    font-weight: bold;
}

.form-horizontal{
    margin-left:3%;
}

label.control-label {
            cursor: default !important;
        }

        label {
            cursor: default !important;
        }

.fullRow{
    background-color:#f9f9f9;
    font-weight: bold;
}
.NumberRight{
    text-align: right !important;
}
.BottomRightInfo{
    text-align:right;
    font-size:smaller;
}
.TableLayout{
    min-height:50px;
    max-height:350px;
    overflow-y:scroll;
    margin-bottom: 20px;
}


.fullRow{
    background-color:#f9f9f9;
    font-weight: bold;
}


/*.addToList
 {
    height:33px;
  background: none repeat scroll 0 0 #5bc0de;
  border: 0 none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Altis_Book';
  font-size: 16px;
  padding: 3px 15px;

}*/

  .addBtn {
  

  font-weight:bold;
   color: black;
  	background-color: #a7a9aa;
  	border-color: #a7a9aa;


   }    
  
  /*.button-round {
    background-color: #2D89EF;
    border-radius: 999em;
    width: 56px;
    height: 56px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    line-height: 1;
    font-size: 36px;
    position: relative;
    cursor: pointer;
}

.button-round span {
    position: absolute;
     left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -22px;
    color: #FFF;
}*/

  .button {
  display: inline-block;
  border-radius: 3px;
  background-color: #2D89EF;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  /*padding: 20px;*/
  /*padding-top:20px;*/
  /*padding-bottom:20px;*/
  /*position:center;*/
  width: 198px;
  /*height:30px;*/
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
  font-family:Garamond;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
 img
        {
           
            max-width:100%!important;
        }

        #HeadOrderDetails,#HeadOrderSummary
        {
            float: left;
    margin-top: 0px;
    padding-left: 10px;
    font-weight: 300;
    font-size: 20px;
    color: #18392b;
        }

.Status{
        border-radius: 10px;
        }