
.control-label
{
  color:black;
}
.box
{
      /* shadow effect material design*/
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
     /* shadow effect material design*/
}


.InnerFooter
{
    background-color:#B8D0E8;
    
}


.headerStyle
{
    font-size:30px;
    
}


.LoyaltyPoints{
    color:purple;
    font-size:large;
    font-weight: bold;
}

.form-horizontal{
    margin-left:3%;
}

label.control-label {
            cursor: default !important;
        }

        label {
            cursor: default !important;
        }

.fullRow{
    background-color:#f9f9f9;
    font-weight: bold;
}
.NumberRight{
    text-align: right !important;
}
.BottomRightInfo{
    text-align:right;
    font-size:smaller;
}
.TableLayout{
    min-height:50px;
    max-height:350px;
    overflow-y:scroll;
    margin-bottom: 20px;
}


.fullRow{
    background-color:#f9f9f9;
    font-weight: bold;
}


.addToList
 {
    height:30px;
  background: none repeat scroll 0 0 #5bc0de;
  border: 0 none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Altis_Book';
  font-size: 16px;
  padding: 3px 15px;

}