img
{
    height:150px;
    width:200px;
    overflow-x:hidden!important;
    overflow-y:hidden!important;
    cursor:pointer;
}

.btn1
 {
    height:30px;
  background: none repeat scroll 0 0 #00B7CD;
  border: 0 none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Altis_Book';
  font-size: 16px;
  padding: 3px 15px;

}
