.control-label
{
  color:black;
}
.box
{
      /* shadow effect material design*/
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
     /* shadow effect material design*/
}

.headerStyle
{
    font-size:30px;
    
}


.InnerFooter
{
    background-color:#B8D0E8;
    
}

.thumb {/*for image uploader preview html 5*/
    height: 75px;
    width:75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
    
  }

.cnt-label
{
    width: 160px;
    color: black;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"].chkbox
{
    vertical-align: middle!important;
    display: inline-block!important;
    margin-bottom: 0!important;
    min-height: 20px!important;
    cursor:pointer!important;
    line-height: normal!important;
    position:relative;
    bottom:0;
    left:0;
    right:0;
}

.thumb:hover
 {
   opacity:0.3!important;
  
   cursor:move;
 }




.btn1,
label.choose:before {
    height:30px;
  background: none repeat scroll 0 0 #00B7CD;
  border: 0 none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Altis_Book';
  font-size: 16px;
  padding: 3px 15px;
 

  
}
ol#olpreview 
{
    display:inline-block;
    vertical-align:auto;
    width:450px;
}

    ol#olpreview li {
        width: 75px;
        height: 105px !important;
        padding: 0 0 0 15px;
        float: left;
    }




.close-btn {
    background-color: red!important;
    /*border: 2px solid #c2c2c2!important;*/
    border-radius: 0px!important;
    padding: 2px!important;
    position: relative!important;
    top: 3px!important;
}
img{
    height:175px;
    width:145px;
   
 }
.masonry-thumb > img
 {
     width: 100%;

}
.masonry-thumb
{
     border:2px solid white;
     /*height: 237px;*/
     width:145px;
     /*padding-left:10px;*/
     /*padding: 5px 5px 5px 5px;*/
     position:relative;
     margin:10px 0px 1px 20px;/*top,right,bottom,left*/
     cursor:pointer;
     overflow: hidden;

}

/*.imageholder
{
   height:500px;
   
}*/


/*.productDetailsdiv span
{*/
    /*padding-left:5px;
    float:left;
    width:100%;
    width:105px;
    font-size:14px;
    font-family:monaco;
    color:gray;
    padding: 4px 2px 2px!important;
}*/
/*.productDetailsdiv span.span1{*/
    /*padding-left:10px;*/
    /*float:left;*/
    /*width:240px;*/
    /*height:auto;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size:12px;
    color:blueviolet;
}*/

img.sticker {
            height:103px!important;
            width:50px!important;
            position:absolute!important;
            bottom:87px!important;
            right:102px!important;
        }

.outstock
{
    top: 70px;
    left: 28px;
    position: absolute;
    padding: 3px 5px;
    border: 1px solid gold;
    background-color: #fff;
    color: #565656;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0;
    vertical-align: baseline;
}


.loadMore 
{
    background-color:white;
    color: grey;
    font-size: 12px;
    height: 24px;
    padding: 0;
    border: 1px solid grey;
}


.noproductgif
{
    opacity: 0.39;
    height: 255px;
    padding-left: 34%;
    width: 319px;
}

#tags{
  float:left;
  border:1px solid #ccc;
  padding:5px;
  font-family:Arial;
}
#tags > span{
  cursor:pointer;
  display:block;
  float:left;
  color:#fff;
  background:#789;
  padding:5px;
  padding-right:25px;
  margin:4px;
}
#tags > span:hover{
  opacity:0.7;
}
#tags > span:after{
 position:absolute;
 content:"×";
 border:1px solid;
 padding:2px 5px;
 margin-left:3px;
 font-size:11px;
}
#tags > input{
  background:#eee;
  border:0;
  margin:4px;
  padding:7px;
  width:auto;
}
.Sort
{
    width:85px;
    margin-left:550px;
}