.control-label
{
  color:black;
}
.box
{
      /* shadow effect material design*/
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
     /* shadow effect material design*/
}


.InnerFooter
{
    background-color:#B8D0E8;
    
}

.thumb {/*for image uploader preview html 5*/
    height: 175px;
    width:175px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }



